@page "/"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager

<PageTitle>Registro de Jugadores</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header space-between">
            <h5 class="card-title">Registro de Jugadores</h5>
            <a href="/Jugador/Create" class="btn btn-primary"><span class="bi bi-plus-square mt-3">
            </span> Crear</a>
        </div>
        <div class="card-body">
            @*labels*@
            <div class="row">
            @*Inputs y botones*@
            <div class="row align-items-center">
            
            <table class="table table-hover">
            </table>
            </div>
            </div>
        </div>
    </div>
</div>