@page "/Jugador/Create"
@using Microsoft.EntityFrameworkCore
@using TicTacToe.DAL
@using Microsoft.AspNetCore.Components
@inject IJugadoresApiService jugadoresService
@rendermode InteractiveServer
@inject NavigationManager navigationManager

@* MainLayout.razor *@
<link href="app.css" rel="stylesheet" />

<PageTitle>Create</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title">Crear Jugador</h5>
        </div>
        @*Body*@
        <div class="card-body">

            @*Nombre*@
            <div class="mb-3">
                <label class="form-label"><strong>Nombre</strong></label>
                <InputText class="form-control" @bind-value="Nombres"></InputText>
            </div>
            @*Email*@
            <div class="mb-3">
                <label class="form-label"><strong>Email</strong></label>
                <InputText class="form-control" @bind-value="Email"></InputText>
            </div>

            @*footer*@
            <div class="card-footer text-center mt-2">
                <a href="/Jugador/Index" class="btn btn-secondary"><span class="bi bi-arrow-left"></span>Volver</a>
                <button type="button" class="btn btn-primary bi bi-floppy" @onclick="Guardar"> Guardar </button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int JugadorId { get; set; }
    public string Nombres { get; set; } = string.Empty;
    public string Email { get; set; } = string.Empty;
    public string Mensaje { get; set; } = string.Empty;

    public async Task Guardar()
    {
        var guardado = await jugadoresService.PostJugador(Nombres, Email);
        if (guardado is Resource<JugadorResponse>.Success ready)
        {
            await Task.Delay(2000);
            navigationManager.NavigateTo("/Jugador/Index");
            ShowAlert = true;
        }


    }

    private bool ShowAlert = false;
    private string AlertMessage = string.Empty;
    private string AlertType = "sucess";

    private void TriggerAlert()
    {
        AlertMessage = "Activado";
        AlertType = "success";
        ShowAlert = true;
    }
    private void DismissAlert()
    {
        ShowAlert = false;
    }
}