@page "/Jugador/Edit/{id:int}"

@using Microsoft.AspNetCore.Components.Forms
@using TicTacToe.Models
@inject IJugadoresApiService jugadoresService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@* MainLayout.razor *@
<link href="app.css" rel="stylesheet" />

<PageTitle>Editar Jugador</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title">Editar Jugador</h5>
        </div>

        <div class="card-body">

            <!-- Nombre -->
            <div class="mb-3">
                <label class="form-label"><strong>Nombre</strong></label>
                <InputText class="form-control" @bind-Value="Nombre" />
            </div>

            @*Email*@
            <div class="mb-3">
                <label class="form-label"><strong>Email</strong></label>
                <InputText class="form-control" @bind-value="Email"></InputText>
            </div>

        </div>

        <!-- Footer -->
        <div class="card-footer text-center mt-2">
            <a href="/Jugador/Index" class="btn btn-secondary">
                <span class="bi bi-arrow-left"></span> Volver
            </a>
            <button type="button" class="btn btn-primary" @onclick="Modificar">
                <span class="bi bi-floppy"></span> Modificar
            </button>
        </div>
    </div>
</div>


@code {



    [Parameter]
    public int Id { get; set; }
    public string Nombre { get; set; }
    public string Email { get; set; }

    protected override async Task OnInitializedAsync()
    {

        var jugador = await jugadoresService.GetJugadorAsync(Id);
        Nombre = jugador.Data.Nombres;
        Email = jugador.Data.Email;

    }


    private async Task Modificar()
    {
        var guardado = await jugadoresService.PutJugador(Id, Nombre, Email);

        if (guardado is Resource<JugadorResponse>.Success ready)
        {
            await Task.Delay(1000);
            navigationManager.NavigateTo("/Jugador/Index");
        }
    }
}


